log.txt
*.DS_Store
*.o
*.dSYM
main
nnodes
*.jpeg
*persist
network.cc
network.hh
paxos.cc
paxos.hh
client.hh
main.cc
nnodes.cc
server_command.cc
telemetry.hh
experiments/track_rtt
experiments/cyclic_shift
experiments/*.cc
autopaxos.aux
autopaxos.bbl
autopaxos.blg
autopaxos.fdb_latexmk
autopaxos.fls
autopaxos.log
autopaxos.out
autopaxos.pdf
autopaxos.synctex.gz
